@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2e2e2e;
  --primary: #7a9b8c;
  --secondary: #f7f4f0;
  --tertiary: #2e2e2e;
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
