@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #2e2e2e;
  --primary: #7a9b8c;
  --secondary: #f7f4f0;
  --tertiary: #2e2e2e;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif;
}
.tiptap {
  p {
    @apply my-4 first:mt-0 last:mb-0 text-base text-tertiary/70 leading-relaxed;
  }

  h1 {
    @apply text-3xl font-bold mt-8 mb-4 first:mt-0 last:mb-0;
  }

  h2 {
    @apply text-2xl font-bold mt-6 mb-2 first:mt-0 last:mb-0;
  }

  h3 {
    @apply text-xl font-bold mt-4 mb-1 first:mt-0 last:mb-0;
  }

  h4 {
    @apply text-lg font-bold mt-2 mb-1 first:mt-0 last:mb-0;
  }

  h5 {
    @apply text-base font-bold mt-2 mb-1 first:mt-0 last:mb-0;
  }

  h6 {
    @apply text-sm font-bold mt-2 mb-1 first:mt-0 last:mb-0;
  }

  b,
  strong {
    @apply font-bold text-tertiary!;
  }

  a {
    @apply underline text-primary font-semibold;
  }

  code {
    @apply bg-tertiary rounded-xl px-2 py-1 text-secondary;
  }
  i {
    @apply italic;
  }
  hr {
    @apply border-tertiary/10;
  }
}
