@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #2e2e2e;
  --primary: #7a9b8c;
  --secondary: #f7f4f0;
  --tertiary: #2e2e2e;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif;
}
